@import url('../../styles/constants.css');

.ord {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blue);
    margin-top: 100px;
}

.ord__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1600px;
    margin-top: 50px;
}

.ord__order {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 200px;
}

.ord__order span {
    margin-bottom: 30px;
}

.ord p {
    text-align: center;
}

.ord__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    width: 90%;
    margin-bottom: 40px;
}

.ord__social img {
    cursor: pointer;
}

.ord__navigation {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ord__navigation span {
    margin-bottom: 10px;
}

@media screen and (max-width: 650px) {
    .ord__wrapper {
        display: flex;
        flex-direction: column;
    }

    .ord__navigation li {
        font-size: 25px
    }
}