@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, *, *::after, *::before {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  color: #808080;
}
