@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, *, *::after, *::before {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::selection {
  color: var(--white-color);
  background-color: var(--orange-color);
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  color: #808080;
}

li {
  font-size: 20px;
  margin-bottom: 20px;
  color: #808080;
  cursor: pointer;
}

span {
  font-size: 40px;
}
