@import url('../../styles/constants.css');

.reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D3D3D3;
    margin-top: 40px;
}

.rev__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1500px;
}

.rev__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 250px;
    height: 460px;
}

.reviews a {
    color: red;
    text-decoration: underline;
}

.reviews span {
    font-size: 16px;
}

.reviews p {
    font-size: 15px;
}